.mainDiv {
  display: flex;
  background-color: #282f44;
  font-family: "Arial";
  font-size: 6rem;
  /*min-height: 175vh;*/
  background-position: center 120px;
}

.mainDiv > .div1 {
  background-color: #282f44;
  height: 60vh;
  margin: 30px;
  margin-top: 0px;
  padding: 1%;
  /* border: 5px solid blue; */
  top: 100px;
  position: sticky;
  /* make width half page */
  width: 20vw;
  /* border: 2px solid red; */
  padding-top: 3.5%;
}

.mainDiv > .div2 {
  background-color: #282f44;
  width: 50%;
  margin: 10px;
  margin-top: 0px;
  margin-right: -2vw;
  padding: 3%;
  /* border: 5px solid orange; */
}

/* .mainDiv > .div3 {
  width: 20vw;
  background-color: #282f44;
  
} */

.mainDiv > .fButton {
  position: static;
}
@media screen and (min-width: 1px) {
  .div2 {
    margin-right: 0vw;
  }
}
@media screen and (min-width: 1600px) {
  .div2 {
    margin-right: 28vw;
  }
}
@media screen and (min-width: 1800px) {
  .div2 {
    margin-right: 30vw;
  }
}
.FixGap {
  margin: -8px;
}
.BG {
  background-color: var(--blue-dark);
  min-height: 110vh;
  text-align: center;
  color: white;
  top: 0px;
}
.margin {
  margin: 3% 15% 3% 15%;
  min-height: 75vh;
}
.section1 {
  padding-bottom: 20vh;
}
.section2 {
  padding-bottom: 20vh;
}
.section3 {
  padding-bottom: 20vh;
}

.btn {
  margin-top: 1rem;
}
.subHeading {
  color: white;
  font-weight: 100;
  font-size: 30px;
  margin-bottom: 0.5rem;
}

.incompleteStepHeading {
  color: grey;
  font-weight: 100;
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.previousStepHeading {
  color: white;
  font-weight: 100;
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.currentStepHeading {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

.incompleteStepHeading:hover,
.currentStepHeading:hover,
.previousStepHeading:hover {
  background-color: #191d32;
  cursor: pointer;
}

.LHSHeading {
  color: white;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 1rem;
}
