.FixGap {
    margin: -8px;
    
    
}
.BG {
    background-color: var(--blue-dark);
    min-height: 100vh;
    color: white;
   
}
.margin {
    min-height: 82vh;
}
.section1{
    text-align: left;
    margin-bottom: -200px;
    
    
    
    
}
.section2{
    text-align: left;
    margin-bottom: -200px;
    
    
    
}
.section3{
    text-align: left;
    margin-bottom: -200px;
   
}



