.All{
    background-color: var(--blue-dark);
    color: white;
    margin-bottom: 0.1%;
}

h4{
    font-weight: bold;
}

.Top {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 40%;
    margin: 2% auto auto auto;
}

.Mid1 {
    border-style: hidden;
    display: inline-block; /*So that 2 divs can be on the same line*/
    flex-flow: column;
    align-items: center;
    text-align: left;
    padding-top: 3%;
    padding-left: 28%;
    max-width: 50%;
}

.Mid2 {
    border-style: hidden;
    display: inline-block; /*So that 2 divs can be on the same line*/
    padding-left: 5%;
    max-width: 31%;
}

.Lower{
    margin-top: 1%;
    border-style: hidden;
    display: flex;
    flex-flow: column;
    text-align: left;
    padding-left: 28%;
    padding-bottom: 20%;
    max-width: 50%;
}