.FooterItems {
    background: white;
    color: #000000;
    font-size: 1px;
    display:flex;
    align-items: center; 
    text-align: center;
    justify-content: center; 
    margin-top: auto;
    margin-bottom: -1%;
    margin-left: -0.4%;
    margin-right: -0.4%;
    height: 10vh;
}
i{
    color: #BA2273;
    margin-left: 2.5vh;
}
i:hover {
    border-radius: 25px; 
    background-color: lightgrey;
}
.follow {
    font-weight: bold;
    font-size: 20px;
}
.foot-links{
    font-weight: bold;
    font-size: 20px;
}
.gap {
    margin-left: 100vh;
}
@media screen and (min-width: 200px) { 
    .gap {
        margin-left: 1vh; 
    }
}
@media screen and (min-width: 800px) { 
    .gap {
        margin-left: 17vh; 
    }
}
@media screen and (min-width: 1000px) { 
    .gap {
        margin-left: 20vh; 
    }
}
@media screen and (min-width: 1200px) { 
    .gap {
        margin-left: 40vh; 
    }
}
@media screen and (min-width: 1500px) { 
    .gap {
        margin-left: 45vh; 
    }
}
@media screen and (min-width: 1800px) { 
    .gap {
        margin-left: 100vh; 
    }
}