.fullBox {
  text-align: center;
}

.fButton {
  width: fit-content;
  height: fit-content;
}

div.LHS {
  font-weight: bold;
  float: left;
}

.RHS {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 360px;
  margin-right: 0;
  margin-left: 15px;
  /* margin-top: 20px; */
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  /* give shadow bottom */
}

.RHSALT {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 360px;
  margin-right: 0;
  margin-left: 15px;
  /* margin-top: 20px; */
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  /* give shadow bottom */
}

.BOX {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.BOX:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.RHS:hover {
  cursor: pointer;
  background-color: rgb(234, 234, 234);
  border-radius: 5px;
}
Link.RHS {
  font-size: 25px;
}
.MuiIcon-fontSizeInherit {
  font-size: 100px;
}

.FinishAlert {
  font-size: 20px;
  font-family: "Open Sans", "Arial", "Sans-Serif", "Helvetica";
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 50px;
  margin-bottom: -60px;
}

.FinishLessonSection {
  margin-top: -40px;
}

/* All buttons within the finish Lesson Section div will have these styles applied */
.FinishLessonSection .btn {
  margin-right: 10px;
}
