/*.Box-component {
    width: 40vw;
}*/
.Step {
  color: pink;
  background-color: pink;
}

/* Everything inside the body of the stepper */
.StepContent {
  color: black;
  background-color: white;
  padding: 20px;
  text-align: left;
  max-width: 900px;
}

.StepContent ul {
  display: block;
  list-style-type: circle;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  text-align: left;
}

.StepContent li {
  margin: 0;
  padding: 0;
  text-align: left;
}

.StepContent ul {
  margin: 0;
  padding: 0 0 0 40px;
  text-align: left;
  list-style-type: disc;
}

.StepContent i {
  padding: 0;
  margin: 0;
}

.StepContent p {
  margin: 20 0 0 0;
  padding: 0;
  max-width: 700px;
}

.StepContent div {
  margin: 0;
  padding: 0 20px 0 20px;
}

/* Div within a div */
.StepContent div div {
  margin: 0;
  padding: 0 0 0 0;
}

.StepContent h5 {
  margin: 0;
  padding: 10px 0 10px 0;
  font-weight: 700;
}

.StepContent a {
  margin: 0;
  padding: 10px 0px 10px 20px;
}

/* Buttons inside stepcontent will have smaller text */
.StepContent .btn {
  font-size: 14px;
  margin-right: 10px;
}

/* Negative margins will cause overlapping */
.NextAndBackButtons {
  margin-top: -60px;
}

.NextAndBackButtons .btn {
  margin-right: 10px;
}

/* Step Label */
.Typography {
  color: black;
  background-color: lightgrey;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.heading {
  width: 100%;
  font-size: 43%;
  color: white;
}

.LsnImgResizer {
  width: 70%;
  height: 100%;
}
/* lsnimgresizer increase width to 100% on hover */

.PhishingImage {
  width: 100%;
  height: 100%;
}

/* set css for iframes */
iframe {
  width: 100%;
  height: 24vw;
  border: 0;
  margin: 30px 0 0 0;
}
