/*READ ME
The JoinNow button is controlled by index.css to
keep formatting consistent across the website
- Isaac
*/
.MainScreen {
  background-color: var(--blue-dark);
  color: white;
  display: flex; /* VERY IMPORTANT */
  flex-flow: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  max-width: 100%;
  font-size: 1.2rem;
}

.BodyContent {
  max-width: 40%;
  /* all items inside are centre */
  display: flex;
  flex-flow: column;
  align-items: center;
}

.MainScreen a {
  color: white;
}

/* Make all lists appear vertically */

.MainScreen ul {
  /* display: block; */
  list-style-type: disc;
  list-style-position: inside;
  text-align: left;
  margin: 0;
  padding: 10px 0 40px 40px;
}

.MainScreen li {
  margin-left: 1.5em;
  padding: 0;
  text-align: left;
  /* set to default li values */
  list-style-position: outside;
  list-style-image: none;
  display: list-item;
}

.MainScreen b {
  font-size: 1.3rem;
}

.MainScreen .btn {
  margin: 4vh 0 8vh 0;
}

.Box {
  /* centre content */
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.MainScreen h4 {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 0 0 1em 0;
}

.MainScreen h3 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
  padding: 0 0 1em 0;
}

.MainScreen table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  table-layout: fixed;
}

.MainScreen th {
  font-size: 1.3rem;
  font-weight: 700;
}

/* table data sticks to top of table */
.MainScreen td {
  vertical-align: top;
  padding: 0 1rem 0 1rem;
}

.verticalList {
  display: block;
  margin-bottom: 0;
}

.verticalList li {
  padding-right: 40px;
}

.verticalList ul {
  padding-bottom: 40px;
}

.VideoPlayer {
  margin: 3% auto auto 23%;
  max-width: 55%;
}

.LastTable {
  margin-top: 5%;
}

.AboutUsTable {
  /* left align */
  margin-top: 50px;
  text-align: left;
  max-width: 40%;
}

.AboutUsTable td {
  /* bottom align */
  padding-left: 10px;
  padding-right: 30px;
}
