.NavbarItems {
  background: white;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1%;
}
.navbar-logo {
  max-width: 250px;
  vertical-align: middle;
  padding-top: 5px;
  margin-top: -1%;
}
.Newnavbar-logo {
  max-width: 250px;
  vertical-align: middle;
  padding-top: 5px;
}
ul {
  display: grid;
  grid-template-columns: repeat(5, auto);
  list-style-type: none;
  text-align: center;
  justify-content: center;
}
li {
  padding: 15px;

  border-radius: 10px; /* Rounded border */
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}
li.HoverEffect:hover {
  background-color: lightgrey;
}
